[mysqld]
pid-file                        = /var/run/mysqld/mysqld.pid
socket                          = /var/run/mysqld/mysqld.sock
datadir                         = /var/lib/mysql
default_authentication_plugin   = mysql_native_password
character-set-server            = utf8mb4
collation-server                = utf8mb4_unicode_ci

# replication
server_id   = 110
log-bin     = mysq-bin

# Grobal Transaction ID
gtid_mode                   = on
enforce_gtid_consistency    = on
log-slave-updates           = on

# semi sync
#plugin-load-add              = rpl_semi_sync_master=semisync_master.so
#rpl_semi_sync_master_enabled = 1
#rpl_semi_sync_master_timeout = 3000